@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.wrapper-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}

.profile-picture {
    width: 250px;
    padding-bottom: 20px;
}

.wrapper-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.wrapper-signin h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-signin .input-box {
    width: 430px;
    height: 50px;
    margin: 30px 0 0 0;
}

.wrapper-signin .input-box input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border: 2px solid;
    border-color: lightgray;
    border-radius: 8px;
}

.wrapper-signin .input-box input::placeholder {
    color: darkgray;
}

.wrapper-signin .forget-password {
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}

.wrapper-signin .forget-password a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper-signin .forget-password a:hover {
    text-decoration: underline;
}

.wrapper-signin .login {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: blueviolet;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.wrapper-signin .signup-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.wrapper-signin .signup-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper-signin .signup-link p a:hover {
    text-decoration: underline;
}

.main-signup {
    display: flex;
}

.wrapper-signup {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.signup-right {
    flex: 1;
    background-color: rgb(231, 231, 231);
    overflow: hidden;
}

.signup-right h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    padding: 0 30px;
}

.diapo-wrapper {
    display: flex;
    position: relative;
}

.diapo-wrapper > * + * {
    position: absolute;
    top: 0;
    left: 100px;
}

.diapo img {
    animation: fade-in-out 72s ease infinite 0s;
    opacity: 0;
}

.diapo img:nth-child(1) {animation-delay: 0s}
.diapo img:nth-child(2) {animation-delay: 9s}
.diapo img:nth-child(3) {animation-delay: 18s}
.diapo img:nth-child(4) {animation-delay: 27s}
.diapo img:nth-child(5) {animation-delay: 36s}
.diapo img:nth-child(6) {animation-delay: 45s}
.diapo img:nth-child(7) {animation-delay: 54s}
.diapo img:nth-child(8) {animation-delay: 63s}

@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
    }
    1.39% {
        opacity: 1;
    }
    12.50% {
        opacity: 1;
    }
    13.89% {
        opacity: 0;
    }
}

.signupImg {
    display: block;
    max-width: 600px;
    max-height: 600px;
    padding-top: 20px;
    align-items: center;
    overflow: hidden;
}

.wrapper-signup h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-signup .input-box {
    width: 430px;
    height: 50px;
    margin: 30px 0 0 0;
}

.wrapper-signup .input-box input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border: 2px solid;
    border-color: lightgray;
    border-radius: 8px;
}

.wrapper-signup .input-box input::placeholder {
    color: darkgray;
}

.wrapper-signup .login {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: blueviolet;
    margin: 30px 0 0 0;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.wrapper-signup .signin-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.wrapper-signup .signin-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper-signup .signin-link p a:hover {
    text-decoration: underline;
}

.message-error {
    width: 50%;
    margin: 40px auto;
    border: 1px solid rgb(212, 42, 0);
    border-radius: 8px;
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    display: none;
}

.message-error.visible {
    display: block;
}

.message-fail {
    width: 50%;
    margin: 40px auto;
    border: 1px solid rgb(212, 42, 0);
    border-radius: 8px;
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    display: none;
}

.message-fail.visible {
    display: block;
}

.message-success {
    width: 50%;
    margin: 40px auto;
    border: 1px solid rgb(81, 150, 2);
    border-radius: 8px;
    color: rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}

.message-success.visible {
    display: block;
}

.video-harry-potter {
    display: flex;
    width: 100%;
    overflow: hidden;
}

main h1 {
    text-align: center;
    font-size: 50px;
}

.main-title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px 200px 20px 200px;
    margin-bottom: 200px;
}

.booster-container {
    height: 400px;
}

.list-container {
    height: 400px;
}

/* Conteneur principal pour la liste de films */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

/* Style des éléments des cartes individuels */
.card,
.card-template {
    background-color: #fff;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    width: calc(100% - 40px); /* Full width by default */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 20px; /* Add some space between cards */
}

.card-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.card:hover,
.card-template:hover {
    transform: translateY(-5px);
}

.card h2,
.card-template h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.card p,
.card-template p {
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}

.card a,
.card-template a {
    display: block;
    width: 75%;
    text-align: center;
    background-color: blueviolet;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.card a:hover,
.card-template a:hover {
    background-color: darkslateblue;
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.like-button {
    display: block;
    cursor: pointer;
    width: 20%;
    border: none;
    font: inherit;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    color: rgb(241, 60, 60);
    border-radius: 5px;
    transition: background-color 0.2s;
}

.like-button:hover {
    background-color: rgb(241, 60, 60);
    color: rgb(255, 255, 255);
}

.unlike-button {
    display: none;
    cursor: pointer;
    width: 20%;
    border: none;
    font: inherit;
    font-weight: 600;
    background-color: rgb(241, 60, 60);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 0.2s;
}

.unlike-button:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(241, 60, 60);
}

.details-title {
    font-weight: bold;
}

.button-back {
    font-weight: 500;
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    color: rgb(134, 134, 134);  
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 50px;
}

.button-back:hover {
    background-color: rgb(201, 201, 201);
    color: rgb(97, 97, 97);
}

.card-name {
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    text-transform: uppercase;
}

.details-template span {
    font-size: 26px;
    line-height: 100px;
}

.details-img {
    width: 616px;
    height: 810px;
}

.details-text {
    width: 50%;
    padding-left: 100px;
    padding-top: 10px;
}

.details-infos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex: wrap;
    padding-top: 20px;
}

.logout-profile {
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.logout-profile a {
    background-color: blueviolet;
    color:rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}

.logout-profile a:hover {
    background-color: darkslateblue;
    transition: 0.2s;
}

.filterBar {
    display: flex;
    justify-content: space-around;
}

.filterBar select {
    width: 20rem;
    appearance: none;
    border: 0;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #ddd;
    align-items: center;
    font: inherit;
    padding: 1rem 4rem 1rem 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.search {
    width: 20rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 8px;
}

.search .material-icons {
    color: #666;
}

.search input{
    width: 17rem;
    font: inherit;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Responsive Design Adjustments */
@media (min-width: 600px) {
    .card,
    .card-template {
      width: calc(50% - 40px); /* Adjust for tablets */
    }
}

@media (min-width: 900px) {
    .card,
    .card-template {
      width: calc(33.333% - 40px); /* Adjust for desktops */
    }
}

@media (min-width: 1200px) {
    .card,
    .card-template {
      width: calc(25% - 40px); /* Adjust for larger screens */
    }
}

@media screen and (max-width: 800px) {
    main h1 {
        font-size: 30px;
        padding-top: 20px;
    }
    .main-signup {
        display: block;
    }

    .wrapper-signup h1 {
        font-size: 28px;
    }

    .wrapper-signup .input-box {
        width: 280px;
    }

    .wrapper-signup .login {
        width: 280px;
    }

    .wrapper-signin h1 {
        font-size: 28px;
    }

    .wrapper-signin .input-box {
        width: 280px;
    }

    .wrapper-signin .login {
        width: 280px;
    }

    .wrapper-signin .signup-link {
        font-size: 12px;
    }

    .wrapper-signin .forget-password {
        font-size: 12px;
    }

    .signup-right {
        display: none;
    }

    .details-infos {
        flex-direction: column;
    }

    .details-text {
        min-width: 100%;
    }

    .details-img {
        max-height: 400px;
        max-width: 304px;
        align-self: center;
        padding-top: 20px;
    }

    .details-template h2 {
        font-size: 30px;
    }

    .details-template span {
        font-size: 10px;
        line-height: 20px;
    }

    .details-text {
        width: 40%;
        padding: 0 50px 0 50px;
    }

    .button-back {
        font-weight: 500;
        text-decoration: none;
        background-color: rgb(235, 235, 235);
        color: rgb(134, 134, 134);  
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.2s;
        margin-left: 50px;
    }

    .profile-picture {
        width: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .details-img {
        width: 578px;
        height: 760px;
        padding-right: 0;
    }

    .filterBar select {
        width: 18rem;
    }

    .search {
        width: 18rem;
    }

    .search input {
        width: 16rem;
    }

    .details-template span {
        font-size: 20px;
        line-height: 75px;
    }
}

@media screen and (max-width: 500px) {
    .filterBar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filterBar select {
        width: 18rem;
        margin-top: 20px;
    }

    .search {
        width: 18rem;
        margin-top: 20px;
    }

    .search input {
        width: 16rem;
    }
}